<html>
<html>
<head>
    <title>eon-LT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{STATIC_URL}}CSS/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="{{STATIC_URL}}CSS/bootstrap/docs_Eon.css" type="text/css">
    <link rel="stylesheet" href="{{STATIC_URL}}CSS/normalize.css" type="text/css">


</head>

<body>

<div class="eon-background page-wrap">
 <div class="row-docs-container">
       <div class="container-fluid head aling-one">
          <img src="{{STATIC_URL}}images/logo/logo_eon.png" class="logo">
       </div>
     <div class="container-fluid text-center navMenu">
		 <div class="menu-top">
           <div class="singUp-icon"></div>
           <div class="login-icon"></div>
           <div class="contactUs-icon"></div>
           <div class="logout-icon"></div>
         </div>
     </div>
 </div>

     <div class="row-docs-container body aling-one">
       <div class="container">

       </div>
     </div>
</div>

<footer class="footer row-docs-footer">
      <div class="container">
        <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
      </div>
</footer>

</body>
</html>