<html>
<head>
    <title>Eon-LT</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{STATIC_URL}}CSS/bootstrap/css/bootstrap.css" type="text/css">

    <link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css" type="text/css">


    <link  rel="stylesheet" href="{{STATIC_URL}}css/Skins/style_1WebPageEon.css" type="text/css" >

    <link rel="icon" type="image/png" href="{{STATIC_URL}}images/favicons/fav_white_md_64.png" />

   <script src="{{STATIC_URL}}CSS/bootstrap/js/angular.js"></script>

</head>
<body ng-app="webPageEon" class="raining">
 <div class="wrap">

      <!-- Begin page content -->
      <div class="row-docs-container">
        <div class="row-docs-header raining">
              <div class="container-fluid head bar_logo">
                  <div class="eon_logo_white logo"></div>
              </div>
             <div class="container-fluid text-center nav_menu">
                 <div class="menu-top">
                   <div class="sing_up-icon btn " popover-trigger="mouseenter" popover="singUp"></div>
                   <div class="login-icon  btn" popover-trigger="mouseenter" popover="login"></div>
                   <div class="contact_us-icon  btn" popover-trigger="mouseenter" popover="contactUs"></div>
                   <div class="log_out-icon  btn " popover-trigger="mouseenter" popover="logOut"></div>
                 </div>
             </div>
         </div>

          <div class="body">
                  <div class="container-fluid col-md-8">
                      <div class="hidden-xs col-lg-2 col-md-2 col-sm-2">
                          <div class="col-lg-11 col-md-12 menu-left" ng-controller="Controller">
                              <div class="eonMenu"></div>
                          </div>
                      </div>

                      <div class="info_container  col-lg-9 col-md-10">
                             <my-tabs>
                              <my-pane title="Hello">
                                <h4>Hello sasdsadsadasdsa</h4>
                                <p>Lorem ipsum dolor sit amet</p>
                              </my-pane>
                              <my-pane title="World">
                                <h4>World sfsdf</h4>
                                <em>Mauris elementum elementum enim at suscipit.</em>
                              </my-pane>
                            </my-tabs>

                      </div>
                 </div>

          </div>

      </div>


<div class="push"></div>
 </div>
    <div ng-controller="footerCtrl">
        <div class="footer" ng-class="animate">
          <div class="container">
            <div class="socialMedia"></div>
            <div class="infoFooter"></div>
          </div>
        </div>
    </div>


<script src="{{STATIC_URL}}CSS/bootstrap/js/ui-bootstrap-tpls-0.11.2.min.js"></script>
<script src="{{STATIC_URL}}js/eon-menu/directive.js"></script>
<script src="{{STATIC_URL}}js/eon-menu/angularScript.js"></script>
<script src="{{STATIC_URL}}js/main.js"></script>

</body>
</html>